{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit quaerat laboriosam tenetur ad, exercitationem ratione cumque. Qui iste sequi velit perferendis. Velit, unde ipsam laborum quo dolorem veniam facere adipisci?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/zonadeconfort.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer }}
